<style>
    * {
        box-sizing: border-box;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .pagination {
        text-align: center;
        margin-top: 1em;
        border-radius: 5px;
        height: 50px;
        width: 500px;
        background-color: rgb(255, 255, 255);
        margin-left: px;
    }
    .pagination-number {
        padding: 0.7em 1.1em;
        margin: 0 0.2em;
        border-radius: 2px;
        color: #fff;
        background-color:rgb(0, 0, 0);
    }
    .pagination-number:hover, .pagination-current {
        background-color: rgb(233, 223, 223);
        color: black;
    }
    .pagination-action {
        margin: 0 0.1em;
        display: inline-block;
        padding: 0.5em 0.5em;
        color: rgb(7, 7, 7);
        font-size: 1.3em;
    }
    .pagination-action:hover, .pagination-previous, .pagination-next {
        color: rgb(233, 223, 223);
    }
</style>

<div style="width: 800px;" class="container">
    <div class="row">
        <div class="column" style="background-color:rgb(192, 225, 231); border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
            <div style="text-align: center;"class="dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg"><h3>Category</h3></button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle=dropdown>
                    </button>
                    <div style="background-color: rgb(101, 212, 207); border:1px solid black;" class="dropdown-menu">
                        <a href="/movies/action/" class="dropdown-item">Action</a>
                        <a href="/movies/animation/" class="dropdown-item">Animation</a>
                        <a href="/movies/comedy/" class="dropdown-item">Comedy</a>
                        <a href="/movies/documentary/" class="dropdown-item">Documentary</a>
                        <a href="/movies/family/" class="dropdown-item">Family</a>
                        <a href="/movies/horror/" class="dropdown-item">Horror</a>
                        <a href="/movies/romance/" class="dropdown-item">Romance</a>
                        <a href="/movies/sci-fi/" class="dropdown-item">Sci-Fi</a>
                    </div>  
                </div>
            </div>
        </div>
        <div class="column" style="background-color:rgb(192, 225, 231);">
            <div style="text-align: center;"class="dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg"><h3>Year</h3></button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle=dropdown>
                    </button>
                    <div style="background-color: rgb(101, 212, 207); border:1px solid black;" class="dropdown-menu">
                        <a href="/movies/2019/" class="dropdown-item">2019</a>
                        <a href="/movies/2018/" class="dropdown-item">2018</a>
                        <a href="/movies/2017/" class="dropdown-item">2017</a>
                        <a href="/movies/2016/" class="dropdown-item">2016</a>
                        <a href="/movies/2015/" class="dropdown-item">2015</a>
                        <a href="/movies/2014/" class="dropdown-item">2014</a>
                        <a href="/movies/2013/" class="dropdown-item">2013</a>
                        <a href="/movies/2012/" class="dropdown-item">2012</a>
                        <a href="/movies/2011/" class="dropdown-item">2011</a>
                        <a href="/movies/2010/" class="dropdown-item">2010</a>
                        <a href="/movies/older/" class="dropdown-item">Older Movies</a>
                    </div>  
                </div>
            </div>
        </div>
        <div class="column" style="background-color:rgb(192, 225, 231); border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
            <div style="text-align: center;"class="dropdown">
                <button class="btn btn-lg ">
                    <a href="/movies/imdb/"> <h3 style="color:black">Imdb 7.0 +</h3> </a>
                </button>
                
            </div>
        </div>
    </div>
</div>
<br><br>
   <!-- slider sayfasi dahil edilmistir -->
   {% include 'partials/_slider.html' %}
<div>
{% if movies %}
<div style="max-width: 1290px; margin: auto; background: #070707; overflow: auto; border-radius:20px" class="container">
    {% for movie in movies  %}
        <div style="padding:1px; margin:35px; border:1px solid rgb(12, 12, 12); float:left; width: 285px; height: 450px; text-align: center; 
        background-color:#ffffff; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;" class="gallery">
            <a href="{% url 'detail' movie.id %}">
            <img style="width:280px; height:400px;" src="{% static movie.get_image_path %}" alt="">
            <div style="padding-top: 8px; text-align:center;" class="desc"> <h6><ins>{{movie.name}}</ins></h6> </div>
            </a>
        </div>      
    {% endfor %}
{% else %}
    <div class="alert alert-warning">
        No Movies
    </div>
</div>
{% endif %}
</div>

<div class="pagination">
    {% if movies.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ movies.previous_page_number }}">
            <i>Previous</i>
        </a>
    {% endif %}
    {% for num in movies.paginator.page_range %}
        {% if movies.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if movies.has_next %}
        <a class="pagination-action" href="?page={{ movies.next_page_number }}">
            <i> Next</i>
        </a>
        <a class="pagination-action" href="?page={{ movies.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>